In [1]:
import pandas as pd
import requests

In [2]:
df = pd.read_csv('../data/COVID-19_Case_Surveillance_Public_Use_Data_with_Geography.csv', low_memory=False)
df.head()

,case_month,res_state,state_fips_code,res_county,county_fips_code,age_group,sex,race,ethnicity,case_positive_specimen_interval,case_onset_interval,process,exposure_yn,current_status,symptom_status,hosp_yn,icu_yn,death_yn,underlying_conditions_yn
0,2021-12,CA,6.0,SAN DIEGO,6073.0,18 to 49 years,Male,Black,Non-Hispanic/Latino,NaN,NaN,Missing,Missing,Laboratory-confirmed case,Unknown,Missing,Missing,Missing,NaN
1,2022-01,NY,36.0,WESTCHESTER,36119.0,65+ years,Male,NaN,NaN,NaN,NaN,Missing,Missing,Laboratory-confirmed case,Missing,Missing,Missing,No,NaN
2,2020-10,MN,27.0,HENNEPIN,27053.0,18 to 49 years,Female,White,Non-Hispanic/Latino,0.0,NaN,Missing,Missing,Laboratory-confirmed case,Missing,Missing,Missing,No,NaN
3,2021-01,NV,32.0,CLARK,32003.0,18 to 49 years,Female,Unknown,Unknown,0.0,NaN,Routine surveillance,Missing,Laboratory-confirmed case,Missing,Unknown,Unknown,No,NaN
4,2022-02,AZ,4.0,PIMA,4019.0,50 to 64 years,Female,White,Non-Hispanic/Latino,NaN,NaN,Missing,Missing,Laboratory-confirmed case,Missing,Missing,Missing,Missing,NaN

In [3]:
# List the columns in the dataframe
col_list = list(df.columns)
col_list

['case_month',
 'res_state',
 'state_fips_code',
 'res_county',
 'county_fips_code',
 'age_group',
 'sex',
 'race',
 'ethnicity',
 'case_positive_specimen_interval',
 'case_onset_interval',
 'process',
 'exposure_yn',
 'current_status',
 'symptom_status',
 'hosp_yn',
 'icu_yn',
 'death_yn',
 'underlying_conditions_yn']

# Assess Values

In [4]:
# Count values
age_group = pd.DataFrame(df['age_group'].value_counts())
age_group.reset_index(inplace=True)

# sum column
sum = age_group['age_group'].sum()

# set list for calculations
calc = []

# Calculate % of total for each value count, append to calc list
for x in age_group['age_group']:
    calc.append(round(x/sum*100,2))

# append column to df
age_group['percent_of_total'] = calc
age_group

            index  age_group  percent_of_total
0  18 to 49 years   36121594             52.27
1  50 to 64 years   12446757             18.01
2    0 - 17 years   11960918             17.31
3       65+ years    7836100             11.34
4         Missing     743357              1.08

In [5]:
# Count values
sex = pd.DataFrame(df['sex'].value_counts())
sex.reset_index(inplace=True)

# sum column
sum = sex['sex'].sum()

# set list for calculations
calc = []

# Calculate % of total for each value count, append to calc list
for x in sex['sex']:
    calc.append(round(x/sum*100,2))

# append column to df
sex['percent_of_total'] = calc
sex

     index       sex  percent_of_total
0   Female  35571308             52.33
1     Male  31366102             46.14
2  Unknown    892236              1.31
3  Missing    149440              0.22
4    Other       837              0.00

In [6]:
# Count values
race = pd.DataFrame(df['race'].value_counts())
race.reset_index(inplace=True)

# sum column
sum = race['race'].sum()

# set list for calculations
calc = []

# Calculate % of total for each value count, append to calc list
for x in race['race']:
    calc.append(round(x/sum*100,2))

# append column to df
race['percent_of_total'] = calc
race

                                    index      race  percent_of_total
0                                   White  33444464             56.29
1                                 Unknown   9983293             16.80
2                                   Black   6508848             10.96
3                                 Missing   5615647              9.45
4                                   Asian   1867950              3.14
5                          Multiple/Other   1392350              2.34
6           American Indian/Alaska Native    498008              0.84
7  Native Hawaiian/Other Pacific Islander     98799              0.17

In [7]:
# Count values
ethnicity = pd.DataFrame(df['ethnicity'].value_counts())
ethnicity.reset_index(inplace=True)

# sum column
sum = ethnicity['ethnicity'].sum()

# set list for calculations
calc = []

# Calculate % of total for each value count, append to calc list
for x in ethnicity['ethnicity']:
    calc.append(round(x/sum*100,2))

# append column to df
ethnicity['percent_of_total'] = calc
ethnicity

                 index  ethnicity  percent_of_total
0  Non-Hispanic/Latino   33083176             56.91
1              Unknown   14218032             24.46
2      Hispanic/Latino    6663884             11.46
3              Missing    4169379              7.17

In [8]:
# Count values
process = pd.DataFrame(df['process'].value_counts())
process.reset_index(inplace=True)

# sum column
sum = process['process'].sum()

# set list for calculations
calc = []

# Calculate % of total for each value count, append to calc list
for x in process['process']:
    calc.append(round(x/sum*100,2))

# append column to df
process['percent_of_total'] = calc
process

                               index   process  percent_of_total
0                            Missing  66910960             96.05
1                Clinical evaluation   1411227              2.03
2               Routine surveillance    525230              0.75
3                Laboratory reported    310000              0.44
4                           Multiple    243550              0.35
5    Contact tracing of case patient    131752              0.19
6                            Unknown     78484              0.11
7                  Provider reported     28692              0.04
8                              Other     14019              0.02
9   Other detection method (specify)     10594              0.02
10      Routine physical examination       292              0.00
11                           Autopsy       183              0.00

In [9]:
# Count values
exposure_yn = pd.DataFrame(df['exposure_yn'].value_counts())
exposure_yn.reset_index(inplace=True)

# sum column
sum = exposure_yn['exposure_yn'].sum()

# set list for calculations
calc = []

# Calculate % of total for each value count, append to calc list
for x in exposure_yn['exposure_yn']:
    calc.append(round(x/sum*100,2))

# append column to df
exposure_yn['percent_of_total'] = calc
exposure_yn

     index  exposure_yn  percent_of_total
0  Missing     64962087             93.25
1      Yes      3443128              4.94
2  Unknown      1259768              1.81

In [10]:
# Count values
current_status = pd.DataFrame(df['current_status'].value_counts())
current_status.reset_index(inplace=True)

# sum column
sum = current_status['current_status'].sum()

# set list for calculations
calc = []

# Calculate % of total for each value count, append to calc list
for x in current_status['current_status']:
    calc.append(round(x/sum*100,2))

# append column to df
current_status['percent_of_total'] = calc
current_status

                       index  current_status  percent_of_total
0  Laboratory-confirmed case        59886380             85.96
1              Probable Case         9778603             14.04

In [11]:
# Count values
symptom_status = pd.DataFrame(df['symptom_status'].value_counts())
symptom_status.reset_index(inplace=True)

# sum column
sum = symptom_status['symptom_status'].sum()

# set list for calculations
calc = []

# Calculate % of total for each value count, append to calc list
for x in symptom_status['symptom_status']:
    calc.append(round(x/sum*100,2))

# append column to df
symptom_status['percent_of_total'] = calc
symptom_status

          index  symptom_status  percent_of_total
0       Missing        31130116             44.69
1   Symptomatic        26110824             37.48
2       Unknown        11463723             16.46
3  Asymptomatic          959519              1.38
4           nul             801              0.00

In [12]:
# Count values
hosp_yn = pd.DataFrame(df['hosp_yn'].value_counts())
hosp_yn.reset_index(inplace=True)

# sum column
sum = hosp_yn['hosp_yn'].sum()

# set list for calculations
calc = []

# Calculate % of total for each value count, append to calc list
for x in hosp_yn['hosp_yn']:
    calc.append(round(x/sum*100,2))

# append column to df
hosp_yn['percent_of_total'] = calc
hosp_yn

     index   hosp_yn  percent_of_total
0  Missing  32534270             46.70
1       No  23947517             34.38
2  Unknown  10824218             15.54
3      Yes   2358978              3.39

In [13]:
# Count values
icu_yn = pd.DataFrame(df['icu_yn'].value_counts())
icu_yn.reset_index(inplace=True)

# sum column
sum = icu_yn['icu_yn'].sum()

# set list for calculations
calc = []

# Calculate % of total for each value count, append to calc list
for x in icu_yn['icu_yn']:
    calc.append(round(x/sum*100,2))

# append column to df
icu_yn['percent_of_total'] = calc
icu_yn

     index    icu_yn  percent_of_total
0  Missing  59137660             84.89
1  Unknown   8128885             11.67
2       No   2219668              3.19
3      Yes    177724              0.26
4      nul      1046              0.00

In [14]:
# Count values
death_yn = pd.DataFrame(df['death_yn'].value_counts())
death_yn.reset_index(inplace=True)

# sum column
sum = death_yn['death_yn'].sum()

# set list for calculations
calc = []

# Calculate % of total for each value count, append to calc list
for x in death_yn['death_yn']:
    calc.append(round(x/sum*100,2))

# append column to df
death_yn['percent_of_total'] = calc
death_yn

     index  death_yn  percent_of_total
0  Missing  35815446             53.23
1       No  22148471             32.92
2  Unknown   8912799             13.25
3      Yes    404751              0.60

In [15]:
# Count values
underlying_conditions_yn = pd.DataFrame(df['underlying_conditions_yn'].value_counts())
underlying_conditions_yn.reset_index(inplace=True)

# sum column
sum = underlying_conditions_yn['underlying_conditions_yn'].sum()

# set list for calculations
calc = []

# Calculate % of total for each value count, append to calc list
for x in underlying_conditions_yn['underlying_conditions_yn']:
    calc.append(round(x/sum*100,2))

# append column to df
underlying_conditions_yn['percent_of_total'] = calc
underlying_conditions_yn

  index  underlying_conditions_yn  percent_of_total
0   Yes                   2697657             98.41
1    No                     43509              1.59

# Clean

In [16]:
# Create df copy to safely manipulate
df2 = df.copy()

In [17]:
# Remove "Missing" ages
df2 = df2[df2['age_group'] != "Missing"]
df2["age_group"].value_counts()

18 to 49 years    36121594
50 to 64 years    12446757
0 - 17 years      11960918
65+ years          7836100
Name: age_group, dtype: int64

In [19]:
# Remove "sex" entries with small counts
df2 = df2[df2["sex"] != "Other"]
df2 = df2[df2["sex"] != "Missing"]
df2 = df2[df2["sex"] != "Unknown"]
df2["sex"].value_counts()

Female    35194004
Male      31059455
Name: sex, dtype: int64

In [21]:
# Remove select "race" entries
df2 = df2[df2["race"] != "Unknown"]
df2 = df2[df2["race"] != "Missing"]
df2 = df2[df2["race"] != "Multiple/Other"]
df2["race"].value_counts()

White                                     32892699
Black                                      6338210
Asian                                      1853871
American Indian/Alaska Native               496191
Native Hawaiian/Other Pacific Islander       98221
Name: race, dtype: int64

In [22]:
# Convert inconclusive ICU entries to "No"
df2["icu_yn"].replace("Missing","No",inplace=True)
df2["icu_yn"].replace("Unknown","No",inplace=True)
df2["icu_yn"].value_counts()

No     51538680
Yes      165315
nul         960
Name: icu_yn, dtype: int64

In [23]:
# Convert inconclusive hospitalization entries to "No"
df2["hosp_yn"].replace("Missing","No",inplace=True)
df2["hosp_yn"].replace("Unknown","No",inplace=True)
df2["hosp_yn"].value_counts()

No     49581045
Yes     2123910
Name: hosp_yn, dtype: int64

In [24]:
# Convert inconclusive death entries to "No"

df2["death_yn"].replace("Missing","No",inplace=True)
df2["death_yn"].replace("Unknown","No",inplace=True)
df2["death_yn"].value_counts()

No     49247398
Yes      378975
Name: death_yn, dtype: int64

In [25]:
# Remove columns
df2.drop(columns=['process','ethnicity','state_fips_code','county_fips_code','exposure_yn','symptom_status'],inplace=True)
df2.head()

,case_month,res_state,res_county,age_group,sex,race,case_positive_specimen_interval,case_onset_interval,current_status,hosp_yn,icu_yn,death_yn,underlying_conditions_yn
0,2021-12,CA,SAN DIEGO,18 to 49 years,Male,Black,NaN,NaN,Laboratory-confirmed case,No,No,No,NaN
1,2022-01,NY,WESTCHESTER,65+ years,Male,NaN,NaN,NaN,Laboratory-confirmed case,No,No,No,NaN
2,2020-10,MN,HENNEPIN,18 to 49 years,Female,White,0.0,NaN,Laboratory-confirmed case,No,No,No,NaN
4,2022-02,AZ,PIMA,50 to 64 years,Female,White,NaN,NaN,Laboratory-confirmed case,No,No,No,NaN
5,2021-12,IN,MARION,0 - 17 years,Male,NaN,0.0,NaN,Laboratory-confirmed case,No,No,No,NaN

In [38]:
df_count = df['case_month'].count()
df2_count = df2['case_month'].count()
df_diff = df_count - df2_count

print(f'Original DF length: {df_count:,.2f}')
print(f'Cleaned DF length: {df2_count:,.2f}')
print(f'Difference: {df_diff:,.2f}')

Original DF length: 69,664,979.00
Cleaned DF length: 51,704,951.00
Difference: 17,960,028.00